{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="signup-card card-block auth-body mr-auto ml-auto">
                <div class="auth-box">
<form lass="md-float-material" name="fos_user_registration_form" method="post" action="/v/VBack/web/app_dev.php/register/" class="fos_user_registration_register">
    <div id="fos_user_registration_form">
        <div class="text-center">
            <img src="{{ asset ('assets/images/logoo.png') }}" height="80" alt="logo.png" alt="logo.png">
        </div>
        <div class="row m-b-20">
            <div class="col-md-12">
                <h3 class="text-center txt-primary">Inscription</h3>
            </div>
        </div>
        <hr/>

        <div class="input-group">
            <label for="fos_user_registration_form_nom" class="required"></label>
            <input class="form-control" placeholder="Nom" type="text" id="fos_user_registration_form_nom" name="fos_user_registration_form[nom]" required="required">
            <span class="md-line"></span>
        </div>

        <div class="input-group">
            <label for="fos_user_registration_form_prenom" class="required"></label>
            <input class="form-control" placeholder="Prenom" type="text" id="fos_user_registration_form_prenom" name="fos_user_registration_form[prenom]" required="required">
            <span class="md-line"></span>
        </div>

        <div class="input-group">
            <label for="fos_user_registration_form_roles" class="required"></label>
            <select class="form-control" id="fos_user_registration_form_roles" name="fos_user_registration_form[roles][]" required="required" multiple="multiple">
                <option value="ROLE_ADMIN">Administrateur</option>
                <option value="ROLE_PART">Partenaire</option>
                <option value="ROLE_CLIENT">Client</option>
            </select>
            <span class="md-line"></span>
        </div>

        <div class="input-group">
            <label for="fos_user_registration_form_email" class="required"></label>
            <input class="form-control" placeholder="E-Mail" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required">
            <span class="md-line"></span>
        </div>

        <div class="input-group">
            <label for="fos_user_registration_form_username" class="required"></label>
            <input class="form-control" placeholder="Nom d'utilisateur" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}">
            <span class="md-line"></span>
        </div>

        <div class="input-group">
            <label for="fos_user_registration_form_plainPassword_first" class="required"></label>
            <input placeholder="Mot de passe" class="form-control" type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password">
            <span class="md-line"></span>
        </div>

        <div class="input-group">
            <label for="fos_user_registration_form_plainPassword_second" class="required"></label>
            <input placeholder="Confirmer mot de passe.." class="form-control" type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password">
            <span class="md-line"></span>
        </div>

        <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="_BdGcF6ZPvgbsXo8ydO2TfbigSkj5BIyTxA4dTm_djM" >
    </div>

    <div class="row m-t-30">
        <div class="col-md-12">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"/>
    </div>
    </div>

</form>


                </div>/</div></div></div></div> </div></div></div></div>

